@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h2>Index2</h2>
</div>

<script type="text/javascript">
    
    $(document).ready(function () {
        
        startup.init();
        
    });

</script>
<div id="Patches">

</div>
<div id="Tags">

</div>
<div id="Champions" >
    
</div>
<script id="PatchTemplate" type="text/x-jquery-tmpl" >
    <label><input id="radioPatch${Id}" value="${Id}" type="radio" name="Patch" checked="checked" title="${Name}" />${Name}</label>
</script>
<script id="ChampionTagsTemplate" type="text/x-jquery-tmpl">
    <label><input type="checkbox" title="${Name}" />${Name}</label> 
</script>

<script id="ChampionDetailsOverviewTemplate" type="text/x-jquery-tmpl">
    <div style="width:74px; float:left" id="ChampionDiv${ChampionId}" class="Patch${PatchVersionId}">
        <a href="/Champion/Details2?ChampionId=${ChampionId}">
            <img src="data:image/png;base64, ${Image}" height="70" alt="${Name}" title="${Name} ${Title}" />
        </a>
        @*<b>${Name}</b>
        ${Health}
        ${HealthPerLvl}
        ${HealtRegen}
        ${HealthRegenPerLvl}
        ${Armor}
        ${ArmorPerLvl}
        ${AtkSpeed}
        ${AtkSpeedPerLvl}
        ${Damage}
        ${DamagePerLvl}
        ${MagicResist}
        ${MagicResistPerLvl}
        ${Mana}
        ${ManaPerLvl}
        ${ManaRegen}
        ${ManaRegenPerLvl}
        ${MoveSpeed}
        ${Name}
        ${Range}
        ${ReleaseDate}
        ${IP_Cost}
        ${RP_Cost}*@
    </div>
</script>