@model MVC4LOL.Models.ViewModels.ChampionBuilderViewModel

@{
    ViewBag.Title = "Builder";
}
<h2>Builder</h2>

@Scripts.Render("~/bundles/builder")
<script type="text/javascript">
    
    $(document).ready(function () {
        
        builder.init(@Model.Champion.ChampionId); 
    });

</script>

<input type="button" name="buttonLvlUp" id="buttonLvlUp" value="LvlUp" />
<input type="button" name="buttonLvlDown" id="buttonLvlDown" value="LvlDown" />
<label id="labelLvl" >1</label>

Currently carried items:
</br>
@for (var i = 1; i<=6; i++)
{
<div id="divItem@(i)" style="width:60px;height:60px;border:1px solid red;float:left">

</div>
}
Autoattack damage per second :
<table>
    <tr>
        <td>
            <label id="labelNoArmorArmor">
            0 
            </label>
        </td>
        <td>
            <label id="labelNoArmorDamage" ></label>
        </td>
    </tr>
    <tr>
        <td>
            <label id="labelLightArmorArmor">
            30 
            </label>
        </td>
        <td>
            <label id="labelLightArmorDamage" ></label>
        </td>
    </tr>
    <tr>
        <td>
            <label id="labelMediumArmorArmor">
            100 
            </label>
        </td>
        <td>
            <label id="labelMediumArmorDamage" ></label>
        </td>
    </tr>
    <tr>
        <td>
            <label id="labelHeavyArmorArmor">
            200 
            </label>
        </td>
        <td>
            <label id="labelHeavyArmorDamage" ></label>
        </td>
    </tr>
</table>
<div style="clear:both" ></div>
<div id="Champion">
</div>
<div id="Items">
</div>

<script id="ItemTemplate" type="text/x-jquery-tmpl" >
    <img id="itemImage${Id}" src="data:image/png;base64, ${Image}" height="60" alt="${Name}" title="${Name} ${Title}" />
</script>
<script id="ChampionTemplate" type="text/x-jquery-tmpl" >
    <img src="data:image/png;base64, ${Image}" height="70" alt="${Name}" title="${Name} ${Title}" />
    <table>
        <tr>
            <td>
                <div class="display-label">
                     Name
                </div>
            </td>
            <td>
                <div class="display-field">
                    <label >${Name} ${Title}</label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                     Health
                </div>
            </td>
            <td>
                <div class="display-field">
                    <label id="labelHealth"  >${Health}</label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                     Health regen
                </div>
            </td>
            <td>
                <div class="display-field">
                    <label id="labelHealthRegen" >${HealthRegen}</label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    Mana
                </div>
            </td>
            <td>
                <div class="display-field">
                    <label id="labelMana" >${Mana}</label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    Mana regen
                </div>
            </td>
            <td>
                <div class="display-field">
                    <label id="labelManaRegen" >${ManaRegen}</label>
                </div>
            </td>
        </tr>
         <tr>
            <td>
                <div class="display-label">
                    Range
                </div>
            </td>
            <td>
                <div class="display-field">
                    <label id="labelRange" >${Range}</label>
                </div>
            </td>
        </tr>
         <tr>
            <td>
                <div class="display-label">
                    Damage
                </div>
            </td>
            <td>
                <div class="display-field">
                    <label id="labelDamage" >${Damage}</label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    Attack speed
                </div>
            </td>
            <td>
                <div class="display-field">
                    <label id="labelAttackSpeed" >${AttackSpeed}</label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    Critical chance
                </div>
            </td>
            <td>
                <div class="display-field">
                    <label id="labelCriticalChance" ></label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    Critical Damage multiplier
                </div>
            </td>
            <td>
                <div class="display-field">
                    <label id="labelCriticalDamage" >2</label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    Percentage armor pen.
                </div>
            </td>
            <td>
                <div class="display-field">
                    <label id="labelPercentageArmorPen" >0</label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    Flat armor pen.
                </div>
            </td>
            <td>
                <div class="display-field">
                    <label id="labelFlatArmorPen" >0</label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    Armor
                </div>
            </td>
            <td>
                <div class="display-field">
                    <label id="labelArmor" >${Armor}</label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    Magic resist
                </div>
            </td>
            <td>
                <div class="display-field">
                    <label id="labelMagicResist"  >${MagicResist}</label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    Movement speed
                </div>
            </td>
            <td>
                <div class="display-field">
                    <label id="labelMoveSpeed" >${MoveSpeed}</label>
                </div>
            </td>
        </tr>
    </table>
</script>