@model MVC4LOL.Models.ViewModels.ChampionBuilderViewModel

@{
    ViewBag.Title = "Builder";
}
<h2>Builder</h2>

@Scripts.Render("~/bundles/builder")
<script type="text/javascript">
    
    $(document).ready(function () {
        
        builder.init(@Model.Champion.ChampionId); 
    });

</script>

<div id="divMap">
    <select id="selectMap" >
        <option value="1" selected="selected" >Summoner's Rift</option>
        <option value="2">Dominion</option>
        <option value="3">Howling Abyss</option>
        <option value="4">Twisted Treeline</option>
    </select>
</div>

<input type="button" name="buttonLvlUp" id="buttonLvlUp" value="LvlUp" />
<input type="button" name="buttonLvlDown" id="buttonLvlDown" value="LvlDown" />
<label id="labelLvl" >1</label>

Currently carried items:
<br />
@for (var i = 1; i<=6; i++)
{
<div id="divItem@(i)" style="width:60px;height:60px;border:1px solid red;float:left">

</div>
}

Effective health vs phisical damage:
<table>
    <tr>
        <th>
            Percentage armor pen.
        </th>
        <th>
            Flat armor pen.
        </th>
        <th>
            Effective health
        </th>
    </tr>
    <tr>
        <td>
            <label id="labelNoPercentageArmorPen">
                0
            </label>
        </td>
        <td>
            <label id="labelNoFlatArmorPen">
                0
            </label>
        </td>
        <td>
            <label id="labelEffectiveHealthNoArmorPen"></label>
        </td>
    </tr>
    <tr>
        <td>
            <label id="labelLightPercentageArmorPen">
                8
            </label>
        </td>
        <td>
            <label id="labelLightFlatArmorPen">
                5
            </label>
        </td>
        <td>
            <label id="labelEffectiveHealthLightArmorPen"></label>
        </td>
    </tr>
    <tr>
        <td>
            <label id="labelMediumPercentageArmorPen">
                8
            </label>
        </td>
        <td>
            <label id="labelMediumFlatArmorPen">
                25
            </label>
        </td>
        <td>
            <label id="labelEffectiveHealthMediumArmorPen"></label>
        </td>
    </tr>
    <tr>
        <td>
            <label id="labelHeavyPercentageArmorPen">
                43
            </label>
        </td>
        <td>
            <label id="labelHeavyFlatArmorPen">
                25
            </label>
        </td>
        <td>
            <label id="labelEffectiveHealthHeavyArmorPen"></label>
        </td>
    </tr>
</table>

Effective health vs magic damage:
<table>
    <tr>
        <th>
            Percentage magic resist pen.
        </th>
        <th>
            Flat magic resist pen.
        </th>
        <th>
            Effective health
        </th>
    </tr>
    <tr>
        <td>
            <label id="labelNoPercentageMagicResistPen">
                0
            </label>
        </td>
        <td>
            <label id="labelNoFlatMagicResistPen">
                0
            </label>
        </td>
        <td>
            <label id="labelEffectiveHealthNoMagicResistPen"></label>
        </td>
    </tr>
    <tr>
        <td>
            <label id="labelLightPercentageMagicResistPen">
                8
            </label>
        </td>
        <td>
            <label id="labelLightFlatMagicResistPen">
                5
            </label>
        </td>
        <td>
            <label id="labelEffectiveHealthLightMagicResistPen"></label>
        </td>
    </tr>
    <tr>
        <td>
            <label id="labelMediumPercentageMagicResistPen">
                8
            </label>
        </td>
        <td>
            <label id="labelMediumFlatMagicResistPen">
                25
            </label>
        </td>
        <td>
            <label id="labelEffectiveHealthMediumMagicResistPen"></label>
        </td>
    </tr>
    <tr>
        <td>
            <label id="labelHeavyPercentageMagicResistPen">
                43
            </label>
        </td>
        <td>
            <label id="labelHeavyFlatMagicResistPen">
                25
            </label>
        </td>
        <td>
            <label id="labelEffectiveHealthHeavyMagicResistPen"></label>
        </td>
    </tr>
</table>


Autoattack damage per second :
<table>
    <tr>
        <th>
            Armor
        </th>
        <th>
            Damage
        </th>
        <th>
            DPS
        </th>
        <th>
            Life leeched
        </th>
    </tr>
    <tr>
        <td>
            <label id="labelNoArmorArmor">
            0 
            </label>
        </td>
        <td>
            <label id="labelNoArmorDamage"></label>
        </td>
        <td>
            <label id="labelNoArmorDPS" ></label>
        </td>
        <td>
            <label id="labelNoArmorLifeSteal" ></label>
        </td>
    </tr>
    <tr>
        <td>
            <label id="labelLightArmorArmor">
            30 
            </label>
        </td>
        <td>
            <label id="labelLightArmorDamage"></label>
        </td>
        <td>
            <label id="labelLightArmorDPS" ></label>
        </td>
        <td>
            <label id="labelLightArmorLifeSteal" ></label>
        </td>
    </tr>
    <tr>
        <td>
            <label id="labelMediumArmorArmor">
            100 
            </label>
        </td>
        <td>
            <label id="labelMediumArmorDamage"></label>
        </td>
        <td>
            <label id="labelMediumArmorDPS" ></label>
        </td>
        <td>
            <label id="labelMediumArmorLifeSteal" ></label>
        </td>
    </tr>
    <tr>
        <td>
            <label id="labelHeavyArmorArmor">
            200 
            </label>
        </td>
        <td>
            <label id="labelHeavyArmorDamage"></label>
        </td>
        <td>
            <label id="labelHeavyArmorDPS" ></label>
        </td>
        <td>
            <label id="labelHeavyArmorLifeSteal" ></label>
        </td>
    </tr>
</table>
<div style="clear:both" ></div>
<div id="Champion">
</div>
<div id="ItemsFilter">
    <label><input id="InputItemDamage" type="checkbox" value="damage" title="damage" />Damage</label> 
    <label><input id="InputItemHealth" type="checkbox" value="health" title="health" />Health</label> 
</div>
<div id="Items">
</div>
<script id="ItemTagsSelectTemplate" type="text/x-jquery-tmpl">
    <div style="float:left">
        <label for="Select${Name}" style="white-space:nowrap; float:left;margin-right:15px" >${Name}</label> 
        <select id="Select${Name}" title="${Name}">
            <option value="whatever" title="${Name}">=</option>
            <option value="or" title="${Name}" >or</option>
            <option value="and" title="${Name}" >and</option>
            <option value="out" title="${Name}" >out</option>
        </select>
    </div>
</script>

<script id="ItemTemplate" type="text/x-jquery-tmpl" >
    <img id="itemImage${Id}" class="${Availability}" src="data:image/png;base64, ${Image}" height="60" alt="${Name}" title="${Description}" />
</script>
<script id="ChampionTemplate" type="text/x-jquery-tmpl" >
    <img src="data:image/png;base64, ${Image}" height="70" alt="${Name}" title="${Name} ${Title}" />
    <table>
        <tr>
            <td>
                <div class="display-label">
                     Name
                </div>
            </td>
            <td>
                <div class="display-field">
                    <label >${Name} ${Title}</label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                     Health
                </div>
            </td>
            <td>
                <div class="display-field">
                    <label id="labelHealth"  >${Health}</label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                     Health regen
                </div>
            </td>
            <td>
                <div class="display-field">
                    <label id="labelHealthRegen" >${HealthRegen}</label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    Mana
                </div>
            </td>
            <td>
                <div class="display-field">
                    <label id="labelMana" >${Mana}</label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    Mana regen
                </div>
            </td>
            <td>
                <div class="display-field">
                    <label id="labelManaRegen" >${ManaRegen}</label>
                </div>
            </td>
        </tr>
         <tr>
            <td>
                <div class="display-label">
                    Range
                </div>
            </td>
            <td>
                <div class="display-field">
                    <label id="labelRange" >${Range}</label>
                </div>
            </td>
        </tr>
         <tr>
            <td>
                <div class="display-label">
                    Damage
                </div>
            </td>
            <td>
                <div class="display-field">
                    <label id="labelDamage" >${Damage}</label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    Attack speed
                </div>
            </td>
            <td>
                <div class="display-field">
                    <label id="labelAttackSpeed" >${AttackSpeed}</label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    Critical chance
                </div>
            </td>
            <td>
                <div class="display-field">
                    <label id="labelCriticalChance" ></label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    Critical Damage multiplier
                </div>
            </td>
            <td>
                <div class="display-field">
                    <label id="labelCriticalDamage" >2</label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    Percentage armor pen.
                </div>
            </td>
            <td>
                <div class="display-field">
                    <label id="labelPercentageArmorPen" >0</label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    Flat armor pen.
                </div>
            </td>
            <td>
                <div class="display-field">
                    <label id="labelFlatArmorPen" >0</label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    Lifestealing
                </div>
            </td>
            <td>
                <div class="display-field">
                    <label id="labelLifeSteal" >0</label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    Armor
                </div>
            </td>
            <td>
                <div class="display-field">
                    <label id="labelArmor" >${Armor}</label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    Magic resist
                </div>
            </td>
            <td>
                <div class="display-field">
                    <label id="labelMagicResist"  >${MagicResist}</label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    Movement speed
                </div>
            </td>
            <td>
                <div class="display-field">
                    <label id="labelMoveSpeed" >${MoveSpeed}</label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    Cooldown reduction
                </div>
            </td>
            <td>
                <div class="display-field">
                    <label id="labelCooldownReduction" >0</label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    Ability power
                </div>
            </td>
            <td>
                <div class="display-field">
                    <label id="labelAbilityPower" >0</label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    Spell vampirism
                </div>
            </td>
            <td>
                <div class="display-field">
                    <label id="labelSpellVamp" >0</label>
                </div>
            </td>
        </tr>
    </table>
</script>